<header class="w-full z-50 px-5  h-[100px] flex items-center *:font-semibold bg-slate-100">
    <nav class="flex items-center gap-5 h-full">
        <%= link_to  root_path, class:"font-bold text-lg text-gradient w-[48px]" do%>
            <%= image_tag("/icon.png")%>
            
        <%end%>
        <%= link_to "Home", root_path %>
        <%= link_to "Pricing", static_pages_pricing_path %>

    </nav>
    <div class="flex w-full justify-end items-center gap-5 mr-">
        <%if user_signed_in?%>
            <p class="font-medium">
                <%= current_user.stripe_customer_id %>
            </p>
            <p class="border border-red-300 bg-red-100 text-red-500 rounded-md px-3 p-1">
                <%= current_user.plan%>
            </p>
            <%= button_to "Log out", destroy_user_session_path, method: :delete%>            
        <%else%>
            <%= link_to "Log In", new_user_session_path%>
            <%= link_to "Sign Up", new_user_registration_path%>
            
        <%end%>
    </div>
</header>