
<%# Crisp support%>
<script type="text/javascript">window.$crisp=[];window.CRISP_WEBSITE_ID="d8f8f25d-440a-4b2e-8c7a-dd3a213bceca";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();</script>


<%# Home %>

<%= render "static_pages/navbar"%>
<section class="h-[100vh] bg-slate-100 flex flex-col items-center gap-32">
    <%= render "static_pages/home_sections/section_1"%>
    <%= render "static_pages/home_sections/section_2"%>
    <%= render "static_pages/home_sections/section_3"%>
    <%#= render "static_pages/ProductHunt_badge"%>
    <%= render "static_pages/footer"%>
</section>
