<%= render "static_pages/navbar"%>
<section class="h-[100vh] bg-slate-100 flex flex-col items-center gap-32">
    <%= render "static_pages/home_sections/section_1"%>
    <%= render "static_pages/home_sections/section_2"%>
    <%= render "static_pages/home_sections/section_3"%>
    <%= render "static_pages/home_sections/section_4"%>
    <%#= render "static_pages/ProductHunt_badge"%>
    <%= render "static_pages/footer"%>
</section>
