<div class="flex md:flex-row flex-col  justify-center items-center gap-16 *:h-10 *:grayscale *:opacity-50 py-10 *:transition-all">
    <%= link_to "https://www.shopify.com", class:"*:object-cover *:h-10 hover:grayscale-0 hover:opacity-100 " do%>
        <%=image_tag("https://upload.wikimedia.org/wikipedia/commons/thumb/0/0e/Shopify_logo_2018.svg/2560px-Shopify_logo_2018.svg.png")%>
    <%end%>
    <%= link_to "https://www.twitch.com", class:"*:object-cover *:h-10 hover:grayscale-0 hover:opacity-100" do%>
        <%=image_tag("https://i.pcmag.com/imagery/reviews/02OpkCQGfprANqefkZ7nM4i-7.fit_scale.size_760x427.v1569481262.png")%>
    <%end%>
    <%= link_to "https://www.youtube.com", class:"*:object-cover *:h-10 hover:grayscale-0 hover:opacity-100" do%>
        <%=image_tag("https://lh3.googleusercontent.com/NoH5jn0ZNLP0uUMKPOhHBqDPGaseCtaQfBhxExSNf6L_zXB3r7spA4AVNXkLESSpVUwwvZ507yGxM_3dk7havspHQekYDwKk1v6XjA")%>
    <%end%>
    <%= link_to "https://www.jigsaw-online.com/", class:"*:object-cover *:h-10 hover:grayscale-0 hover:opacity-100" do%>
        <%=image_tag("https://lh3.googleusercontent.com/TBjgCwBu3M6VC67Wf_QjoO7JRDmZmfak-xhE9O3npLcqeAmfJKdF-eqDocBbU9iyu4QfTDMy8Ul6_UTJWLtHstnPdLZ3EHH-c2HZLw")%>
    <%end%>
</div>