<div class="flex flex-col gap-5 my-10">
    <%= link_to "Home", "#",class:"decoration-2 hover:underline text-blue-500 w-fit "%>
    <%= link_to "About", "#",class:"decoration-2 hover:underline text-blue-500 w-fit "%>
    <%= link_to "Services", "#",class:"decoration-2 hover:underline text-blue-500 w-fit "%>
    <%= link_to "Pricing", "#",class:"decoration-2 hover:underline text-blue-500 w-fit "%>
    <%= link_to "Contact", "#",class:"decoration-2 hover:underline text-blue-500 w-fit "%>
</div>