<!DOCTYPE html>
<html>
  <head>
    <title>Locomotive</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">


    <%= display_meta_tags site: "Locomotive",
      title:"Locomotive",
      description: "Ruby on Rails SaaS boilierplate",
      icon:"icon.png",
      keywords:"Ruby on Rails, rails, SaaS, boilerplate, Locomotive, entrepreneurship",
      image: asset_url("icon.png"),
      og:{
        title: :title,
        description: :description,
        image: asset_url("icon.png")

      }
    %>

    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tag %>
    
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body class="bg-slate-100 overflow-x-hidden ">
    <%= yield %>
  </body>
</html>
